extends layout

block head
  link(rel='stylesheet', href='/stylesheets/styles.css')
  script(type='text/javascript', src='/javascripts/moment.min.js')

block content
  each chore in chores
    .chore(id='#{choreId(chore)}')
      div(class='#{chore.state} traffic-light')
      p.desc
        = chore.desc
      p.stat Last ran #{readableDate(chore.started)}, took #{readableDuration(chore)}
      p.stat
        = compareToAverage(chore)
