extends layout

block head
  link(rel='stylesheet', href='/stylesheets/styles.css')

block content
  each chore in chores
    #app
      div(class='#{chore.state} traffic-light')
      p
        = chore.name
      p
        = chore.desc
