@import "compass"
html
  display: table
  width: 100%
  height: 100%

body
  margin: 0px
  padding: 50px
  display: table-cell
  vertical-align: middle
  font-family: "Lucida Grande"
  font-size: 12px
  +background(linear-gradient(top left, #33799d, #e8ebb4))

ul
  margin: 0
  padding: 0
  li
    margin: 2px

#app
  display: block
  width: 482px
  height: 384px
  margin: 0 auto
  background-color: #8a8a8a
  +box-shadow(rgba(#000, .1) 1px 1px, rgba(#000, .1) -1px -1px, rgba(#000, .1) 1px -1px, rgba(#000, .1) -1px 1px, rgba(#000, .8) 0 0 70px)
  +border-radius(5px)

#toolbar
  height: 21px
  display: block
  border-bottom: solid 1px #686868
  +background(linear-gradient(#e4e4e4, #b8b7b8))
  +box-shadow(#f1f1f1 0 1px inset)
  +border-radius(6px 6px 0 0)

#traffic-light
  display: inline
  margin-left: 4px
  float: left
  .aqua
    width: 25px
    height: 25px
    display: block
    margin: 5px 4px 4px 4px
    background: #000
    float: left
    +background-image(radial-gradient(50% 150%, rgba(#fff, .7) 8%, rgba(#fff, 0) 60%), radial-gradient(50% -1px, #fff 1px, rgba(#fff, 0) 30%))
    +box-shadow(rgba(#000, .9) 0 1px 6px inset, rgba(#666, .5) 0 1px)
    +border-radius(100px)
    &#red
      background-color: #f24443
    &#yellow
      background-color: #f0aa5a
    &#green
      background-color: #88be72

#view
  width: 482px
  height: 340px
  *
    +float-left

#tree
  width: 80px
  height: 320px
  padding: 10px
  color: #455563
  background-color: #e6eaef
  +box-shadow(#bdbdbd -1px 0 inset)

#textfield
  width: 362px
  height: 340px
  padding: 0 10px
  color: #a7a7a7
  background-color: #222222

#statusbar
  height: 21px
  display: block
  border-top: solid 1px #686868
  +background(linear-gradient(#e4e4e4, #b8b7b8))
  +box-shadow(#f1f1f1 0 1px inset)
  +border-radius(0 0 4px 4px)
  +clearfix